body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

form {
    background: white;
    padding: 15px;
    max-width: 400px;
    margin: auto;
}

input, textarea, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

.notice {
    background: white;
    padding: 10px;
    margin: 10px auto;
    max-width: 600px;
    border-left: 5px solid #007BFF;
}
